body {
    margin: 0;
    font-family: "Inter";
}

.headerContainer
{
    text-align: center;
    background-color: #6943FF;
    color: white;
    padding: 30px;
    font-family: "Inter";
    background: linear-gradient(#6943FF, rgb(24, 156, 208));

}
.unitText
{
    display: block;
    margin: 20px auto;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 40px;
    border: 2px solid wheat;
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #3785f2;
    
}

.btn-convert
{

    padding: 6px 18px;
    border-radius: 5px;
    border-style: none;
    color: rgb(68, 101, 17);
    font-size:medium;
    font-weight: bold;
}
.bodyContaier
{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
}
.conInfoBoxes
{
    background-color: #273549;
    text-align: center;
    margin-top: 10px;
    width: 95%;

}
.convert-title
{
    margin-bottom:0px;
    font-size: 20px;
    color: #CCC1FF;
}
.convert-text
{
    margin-top: 5px;
    font-weight: normal;
}